@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFDF1;
  --foreground: #111111;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, sans-serif;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
